<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Ask, Mate!</title>
    <!--<link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
          crossorigin="anonymous">-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Arapey|Bellefair|Fascinate|Joti+One|Open+Sans+Condensed:300|Shrikhand"
          rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Oswald:600" rel="stylesheet">


</head>
<body>
<div class="main">
    <div class="card header">
<h1>Ask, Mate!</h1>
        </div>


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/post_answer/{{ question_id }}">Answer question </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Users</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" form action="/search/answer/{{ question_id }}" method="post">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" name="search_input">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>


<div class="card mb-3">
    <h2 class="card-header text-danger" style="font-family: 'Oswald', sans-serif;">{{ question['title'] }}</h2>
    <div class="card-body">
        <h5 class="card-title text-muted">{{ question['submission_time'].strftime('%Y-%m-%d %H:%M:%S') }}</h5>
        <h6 class="card-subtitle text-muted">Vote number: {{ question['vote_number'] }}</h6>
        {% if question['user_id'] %}
        <h6 class="card-subtitle text-muted"><a href="/login/users/{{ question['user_id'] }}">{{ question['user_name'] }}</a></h6>
        {% else %}
        <h6 class="card-subtitle text-muted">{{ question['user_name'] }}</h6>
        {% endif %}
    </div>
    <img src="/{{ question['image'] }}">
    <div class="card-body">
        <p class="card-text">{{ question['message'] }}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Comments:</b></li>
        {% for question_comment in question_comments %}
        <li class="list-group-item" style="margin-left:40px; color:black; font-size: 16px;">{{ question_comment.message }}
            <form class="button-delete">
           <button type="submit" formaction="/display/{{question_id}}/{{question_comment.id}}/commdelete" formmethod="get"
                                                                         id="delete-comment-now" style="background: white; color:red;">X
        </button>
            </form></li>
        {% endfor %}
    </ul>
    <div class="card-body add-comment">
        <form method="post" action="display/{{question_id}}/">
            <button type="submit" formaction="/display/{{question_id}}/up-vote" formmethod="post" style="background: #3b9e3b">Like
            </button>
            <button type="submit" formaction="/display/{{question_id}}/down-vote" formmethod="post" style="background: #d23430">Dislike
            </button>
            <!--<a href="/display/{{question_id}}/up-vote" class="card-link" style="color:#64DD17">Like</a>
            <a href="/display/{{question_id}}/down-vote" class="card-link text-danger">Dislike .!..</a>-->
            <a href="/display/{{question_id}}/edit" class="card-link text-warning">Edit question</a>
            <a href="/display/{{question_id}}/delete" class="card-link text-dark">Delete question</a>
            <a href="/question/{{question_id}}/new-tag" class="card-link" style="color:#283593">Add new tag</a>
            <a href="/question/{{question_id}}/new-comment" class="card-link" style="color: #AD1457">Add comment :O</a>
        </form>
                {% block content %} {% endblock %}

    </div>
    <div class="card-footer text-muted">
        <div id="tags">
            {% for tag in question_tags %}
            <span class="badge badge-pill badge-primary">
                {{tag.name}}
                <span class="badge badge-pill badge-light">
                    <a href="/question/{{ question['id'] }}/delete-tag/{{ tag.name }}" class="badge-delete-button">
                        X
                    </a>
                </span>
            </span>
            {% endfor %}
        </div>
    </div>
</div>

<h3>Answers:</h3>

{% for dictionary in answers if question['id'] == dictionary['question_id'] %}
<div class="card">
    <div class="card-body">
        <h5 style="font-family: 'Oswald', sans-serif; color: #5bc0de; font-size:19px;margin-bottom: 20px;">{{ dictionary['message'] }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ dictionary['submission_time'].strftime('%Y-%m-%d %H:%M:%S') }}</h6>
        <P class="card-subtitle mb-2 text-muted">Vote number: {{ dictionary['vote_number'] }}</P>
        <p class="card-subtitle mb-2 text-muted">{{ dictionary['user_name'] }}</p>
        <p class="card-text">Id: {{ dictionary['id'] }}</p>
        <img src="/{{ dictionary['image'] }}">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Comments:</b></li>
            {% for list in answer_comments if list['answer_id'] == dictionary['id'] %}
            <li class="list-group-item" style="margin-left:40px; color:black; font-size: 16px;">{{ list['message'] }}
                <form class="button-delete" >
                <button type="submit" formaction="/display/{{question_id}}/{{list['id']}}/commdelete" formmethod="get"
                        id="delete-comment" style="background: white; color:red;">X</button></form></li>
            {% endfor %}
        </ul>


        <form method="post">
            <button type="submit" formaction="/display/{{question_id}}/{{ dictionary['id'] }}/up-vote" formmethod="post" style="background: #3b9e3b">Like
            </button>
            <button type="submit" formaction="/display/{{question_id}}/{{ dictionary['id'] }}/down-vote " formmethod="post" style="background: #d23430">Dislike
            </button>
            <!--<a href="/display/{{question_id}}/up-vote" class="card-link" style="color:#64DD17">Like</a>
            <a href="/display/{{question_id}}/down-vote" class="card-link text-danger">Dislike .!..</a>-->
            <a href="/display/{{question_id}}/{{ dictionary['id'] }}/edit" class="card-link text-warning">Edit answer</a>
            <a href="/display/{{question_id}}/{{ dictionary['id'] }}/delete" class="card-link text-dark">Delete answer</a>
            <a href="/display/{{question_id}}/{{ dictionary['id'] }}/add-comment" class="card-link text-danger">Add comment</a>

        </form>
    </div>
</div>
{% endfor %}
<p><a href="/post_answer/{{ question_id }}">Answer this question</a></p>

</div>
</body>
</html>