<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ask, Mate!</title>
    </head>
    <body>
        <p><a href="/">Back</a></p>
        <h1>{{ question['title'] }}</h1>
        <p>{{ question['message'] }}</p>
        <sub>Votes:{{ question['vote_number'] }}</sub>
        <form>
        <button type="submit" formaction="/display/{{question_id}}/up-vote" formmethod="post">Vote up!</button>
        <button type="submit" formaction="/display/{{question_id}}/down-vote" formmethod="post">Downvote!</button>
        </form>
        <picture>{{ question['image'] }}</picture><br>
        <br>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Submission Time</th>
                    <th>Vote Number</th>
                    <th>Message</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
            {% for dictionary in answers if question['id'] == dictionary['question_id'] %}
                <tr>
                    <td> {{ dictionary['id'] }}</td>
                    <td> {{ dictionary['submission_time'] }}</td>
                    <td> {{ dictionary['vote_number'] }}</td>
                    <td> {{ dictionary['message'] }}</td>
                    <td> {{ dictionary['image'] }}</td>
                    <form><td><button type="submit" formaction="/display/{{question_id}}/{{ dictionary['id'] }}/up-vote" formmethod="post">Vote up!</button>
                    <button type="submit" formaction="/display/{{question_id}}/{{ dictionary['id'] }}/down-vote" formmethod="post">Downvote!</button></td></form>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p><a href="/post_answer/{{ question_id }}">Answer this question</a></p>
    </body>
</html>