<html>
    <head>
    <title>Post an answer</title>
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
              integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
              crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
<body>
    <h1>Post and answer</h1>
    <h2> {{ question["title"] }}</h2>
    <h4> {{ question["message"] }}</h4>
    <form action="/display/{{ question_id }}" method="post">
            <label for="answer">Your answer:</label><br>
            <textarea id="answer" name="answer" required rows="10" cols="40"></textarea><br>
            <button type="submit">Submit!</button>
    </form>
</body>

</html>

