{% extends 'index.html' %}

{% block content %}
<p>
    {{ user_name }}
</p>
{% if user_name %}
    <p>
        Hello {{ user_name }}!
    </p>
    <div>
        <form action="/" method="get">
            <button type="submit">
                Log out
            </button>
        </form>
    </div>
{% else %}
    <form action="/login" method="post">
        <label for="user_name">User name:</label>
        <input type="text" name="user_name" id="user_name">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
        <button type="submit" class="search-button">Log in</button>
        <p>Dont't have an account yet? <a href="/login/register">Register</a></p>
    </form>
{% endif %}

{% endblock %}